body {
    background-image: url('./../images/background.jpg');
}

#triviaSection {
    background-color: #FED90F;
    height: 500px;
    text-align: center;
    padding-top: 30px;
    border-style: outset;
}

.btn-primary {
    background-color: #70D1FE;
    color: black;
}

.answers {
    margin-top: 10px;
}

.endBlock, .resultBlock {
    font-size: 150%;
    font-style: bold;
}

img {
    height: 300px;
    width: 300px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

#area {
    height: 100vh;
}

#start-button {
    margin-top: 150px;
    width: 20%;
    height: 15%;
}

#reset-button {
    margin-top: 50px;
}